.avatar {
  border-radius: 0.125rem;
  border: none;
  transition: filter 0.2s ease;
}

.figure {
  
  
  & img {
    filter: blur(1px);
  }
  
  &:hover img {
    filter: blur(0);
  }
  
  &:hover .caption {
    opacity: 0;
  }
}

.caption {
  font-size: 8rem;
  letter-spacing: -0.5rem;
  margin: 0;
  height: 150px;
  width: 150px;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease;
  padding-right: 1rem;
  text-align: center;
}